/* import font from google web fonts */

@import url(https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap);

/* Same font used for everything */
* {font-family: 'Roboto', 'Lucida Sans', sans-serif;
  } 


body {
  background-color: #2b2a33;
  color: whitesmoke;
  font-family: Verdana;
  width: 75%;
}

a {
  color: #ff84ab;
}

a:hover {
  font-style: oblique;
}

a:visited {
  color: bisque;
}

#menu a {
  color: bisque;
}

#header {
  float: top;
  margin-left: 150px;
  padding: 10px 50px 0px 50px;
  width: 50%;
}

#main {
  /*float: left;
  margin-left: 150px;
  padding: 0px 10px;
  width: 25%;*/
  display: flex;
  align-content: flex-start;
}

#menu {
  /*position: fixed;
  top: 0;
  left: 0;
  width: 150px;
  height: 100%;
  min-width: max-content;*/
  width: 15%;
  text-align: right;
  background-color: #2b2a33;
  position: sticky;
  top: 0;
  align-self: flex-start;
  padding-left: 20%;


  /*background: hsla(86, 39%, 48%, 1);
  background: linear-gradient(90deg, hsla(86, 39%, 48%, 1) 70%, #FFD6E4 100%);*/

}

#content {
  /*float:left;
  margin-left: 40px;*/
  width: 60%;
  padding: 20px;
}

#menu ul{
  padding: 10%;
  list-style-type: none;
  background-color: rgb(129, 170, 75);
  border: 3px solid whitesmoke;
  border-radius: 10px;
}

#menu li + li {
  margin-top: 20px;
}


.hyperblog-list {
  list-style-type: none;
  padding-left: 0;
}

.hyperblog-list li + li {
  margin-top: 20px;
}

.hyperblog-listing {
  border: 1px solid whitesmoke;
  border-radius: 10px;
  padding: 5px;
  position: relative;
}

.hyperblog-listing:hover {
  background-color: #ffa3ff6d;
  transition: background 0.5s ease-in-out;
}

.hyperblog-link-to-post {
  position: absolute;
  right: 0;
  top: 0;
  display: none;
  padding: 5px;
}

.hyperblog-listing:hover .hyperblog-link-to-post {
  display: block;
}

/* Check if on mobile. If so, change flex direction to be vertical and width of subdivs to 100%. */

@media (any-pointer: coarse) {
    #main {
      flex-direction: column;
    }

    #menu {
      flex: 1;
      width: 100%;
      position: static;
      padding-left: 0;
      text-align: center;
    }

    #content {
      flex: 2;
      width: 100%;
    }

    .hyperblog-link-to-post {
      display: block;
    }
}


/* Makes the entire div a clickable link 
.link-spanner{
  position: absolute; 
  width:50%;
  height:100%;
  top:0;
  left: 0;
  display: none;
  
}*/




figure {
  border: 1px black solid;
  padding: 5px;
  margin: auto;
  text-align: center;
  width:auto;
  background-color: #55555c;

}

figcaption {
  text-align: center;
}

.column {
  float: left;
  width: 50%;
  background: hsla(86, 39%, 48%, 1);
  background: radial-gradient(circle, hsla(86, 39%, 48%, 1) 20%, hsla(210, 12%, 29%, 1) 100%);
  filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#81AA4B", endColorstr="#424B54", GradientType=1 );
}

