---
layout: page
title: hyperblog
permalink: /hyperblog-posts
---
<h2>
  = hyperlink + blog
</h2>

I have a really bad habit of letting my browser tabs build up until I get lost in them. "But what if I need it one day? What if I forget about this cool thing I found?" 
So I'll record the good stuff here, tagged and sorted, and now I can close my browser windows in peace, until I start piling on the tabs again, and the cycle repeats. 

<ul class="hyperblog-list">
  {% for post in site.categories.hyperblog %}
    <li class="hyperblog-listing">
      <!-- Make half the box a clickable link to the post page. -->
      <span class="hyperblog-link-to-post"><a href="{{ post.url }}">go to post</a></span>

      <div class="tag-list">
        {% for tag in post.tags %}
        <i>#{{ tag }} </i>
        {% endfor %}
      </div>

      <div class="hyperblog-listing-content">
        {{ post.content }}
      </div>

    </li>
  {% endfor %}
</ul>

<!--
<div class="post-excerpt">
        {{ post.excerpt }}
      </div>

-->