---
layout: page
title: hyperblog tags
category: hyperblog
permalink: /hyperblog-tags
---
# hyperblog posts by tag

<ul  style="list-style-type: none">
    {% for item in page.tags %}
        <li><a href="#{{ item | slugify }}">{{ item }}</a></li>
    {% endfor %}
</ul>

{% for item in page.tags %}
    <h2>{{ item }}</h2><a name="{{ item | slugify }}"></a>

    {% for post in site.tags[item] %}
        <li class="hyperblog-listing">
            <a href="{{ post.url }}" class="hyperblog-link-to-post">go to post</a>
            
            <b> {{ post.title }} </b>

            <div class="hyperblog-listing-content">
                <details>
                    {{ post.content }}
                </details>
            </div>

        </li>

    {% endfor %}

{% endfor %}